<h1>게시판</h1>
<a href='home/new'>글쓰기</a>


<% @posts.each do |x| %>
제목:<%= x.title %><br>
제목:<%= x.content %><br>

<a href = '/home/edit'>수정</a><br>

<a href = '/home/destroy/<%=x.id%>'>삭제</a><br>

<%end%>


