<form action='/home/create' method='post'>
  
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    
    <h1>-제목-</h1> 
    <input type="text" name="post_title"></input>
    
    <h1>-내용-</h1> 
    <textarea name="post_content"></textarea><br>
    
    <input type="submit"></input>


</form>